<div data-role="view" data-layout="main-layout" data-title="All Recipes" id="all-recipes-view" data-id="all-recipes-view">
    <ul data-role="listview" data-source="app.allRecipes.model" data-pull-to-refresh="true" data-append-on-refresh="true" 
        data-template="all-recipes-template">
    </ul>
</div>

<script type="text/x-kendo-template" id="all-recipes-template">
    <div class="all-recipes-recipe">
        <img src="#=Image#" alt="#:Name# image" class="pullImage"/>
        <h3>#=Name#</h3>
        <p>#=Description#</p>
    </div>
</script>
