<div id="forms" data-role="view" data-title="Add recipe" data-layout="main-layout" data-model="app.addRecipe.model" data-init="initForm" data-use-native-scrolling="true">
    <div class="col-md-10 col-xs-10 col-lg-10 col-md-offset-1 col-xs-offset-1 col-lg-offset-1 container">
        <div class="form-group">
            <label for="recipe-name" class="col-md-12 col-xs-12 col-lg-12 control-label">Name</label>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <input id="recipe-name" type="text" placeholder="something original" data-bind="value: name" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="recipe-description" class="col-md-12 col-xs-12 col-lg-12 control-label">Description</label>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <input id="recipe-description" type="text" placeholder="keep it short" data-bind="value: description" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="recipe-products" class="col-md-12 col-xs-12 col-lg-12 control-label">Products</label>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <input id="recipe-products" type="text" placeholder="time to shop" data-bind="value: products" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="recipe-image" class="col-md-12 col-xs-12 col-lg-12 control-label">Image</label>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <button data-role="button" data-icon="camera" class="btn btn-success" data-align="right" data-bind="click: addImage">Take a picture</button>
            </div>
        </div>

        <div class="form-group">
            <label for="dropdown" class="col-md-12 col-xs-12 col-lg-12 control-label">Category</label>
            <div class="col-md-12 col-xs-12 col-lg-12">
                <select id="dropdown" data-bind="value: category">
                    <option value="Main Dish" selected="selected">Main Dish</option>
                    <option value="Soup">Soup</option>
                    <option value="Salad">Salad</option>
                    <option value="Dessert">Dessert</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 col-xs-12 col-lg-12"></label>
            <button data-bind="events: {click : createRecipe}" class="btn btn-primary col-md-10 col-xs-10 col-lg-10 col-md-offset-1 col-xs-offset-1 col-lg-offset-1">Save</button>
        </div>
    </div>
</div>

<script>
    function initForm() {
        var body = $(".km-pane");

        if (kendo.ui.DropDownList) {
            $("#dropdown").kendoDropDownList({
                 // The options are needed only for the desktop demo, remove them for mobile.
                 popup: { appendTo: body },
                 animation: { open: { effects: body.hasClass("km-android") ? "fadeIn" : body.hasClass("km-ios") || body.hasClass("km-wp") ? "slideIn:up" : "slideIn:down" } }
             });
        }
    }
</script>
