a {
    text-decoration:none;
}

#all-recipes-view .title {
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}

#all-recipes-view .image {
    display: block;
    margin: auto;
    height: 280px;
    width: 280px;
}

#all-recipes-view .buttons {
    margin: auto;
    width: 280px;
    margin-bottom:3em;
    color: #FFF;
}
