a {
    text-decoration:none;
}

#all-recipes-view .all-recipes-recipe h3 {
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    height: 1.3em;
    overflow: hidden;
}
#all-recipes-view .all-recipes-recipe p {
    font-size: 1em;
    margin: 0;
    padding: .3em 0 0;
}
#all-recipes-view .all-recipes-recipe .pullImage {
    width: 64px;
    height: 64px;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
}